<div class="container">
  <% @posts.each do |post|%>
    <div class="card w-50 mx-auto m-5 rounded-0">
      <% if post.photo? %>
        <%= image_tag post.photo.url, class: "bd-placeholder-img card-img-top rounded-0" %>
      <% end %>
      <div class="card-body">
        <p class="card-text">
          <%= post.description%>
        </p>
      </div>
    </div>
  <% end %>
</div>
